@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.category-search{
  height: 50px;
  width: 500px;
  font-size: 1.5rem;
  margin: 10px 0px 10px 0px;
}

.song {
  border: 1px solid #333;
  padding: 10px;
  position: relative;
  width: 400px;
  float: left;
  margin: 10px;

  .title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 10 0px;

  }

  .byline {
    font-size: 1rem;
  }

  .lyrics {
    font-siae:0.8rem;
    font-style: italic;
    margin: 10px 0 0 10px;
  }

  .timer {
    border: 1px solid;
    border-radius: 100px;
    width: 50px;
    text-align: center;
    height: 50px;
    font-size: 2.2rem;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}